<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.proyecto_bibleoteca_2">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Proyecto_bibleoteca_2">
        <activity android:name=".autor"></activity>
        <activity android:name=".titulo" />
        <activity android:name=".modificar" />
        <activity android:name=".infantil_juvenil" />
        <activity android:name=".novelarosa" />
        <activity android:name=".novelaclasica" />
        <activity android:name=".Menu">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>